{{ $baseurl := .Site.BaseURL }}
<div id="TextHomePage">
<h1 center> Welkom op de site van Wout Wynen! </h1>
<h3>Mezelf: </h3>
<p style="font-size:20px;text-align:center">Ik ben een 18-jarige jongen die al heel zijn leven in Rijkevorsel woont. </p>
<p style="font-size:20px;text-align:center"> Ik doe al twee jaar de richting Informaticabeheer in het Immaculata te Oostmalle.</p>
<p style="font-size:20px;text-align:center"> Mijn hobby is vooral fitness. Ik ben niet zo’n fanatieke gamer als de meeste mensen in deze richting.</p>
<h3>Opbouw site:</h3>
<p style="font-size:20px;text-align:center">De opbouw van mijn website is eigenlijk vrij simpel. </p>
<p style="font-size:20px;text-align:center"> Op de home pagina vind je de titel van mijn website met daaronder verschillende icoontjes met de linken naar Facebook, Github, Gitlab en Google plus. </p>
<p style="font-size:20px;text-align:center">Als je aan de rechterkant op het menu icoon klikt , zie je verschillende taken die ik al gedaan heb. </p>
<p style="font-size:20px;text-align:center">Hierop zullen er steeds meer bijkomen en wanneer je op deze klikt, zul je ook meer informatie vinden over het onderwerp. </p>

<h3>Toekomst:</h3>
<p style="font-size:20px;text-align:center">Ik zie mezelf in de toekomst wel iets met IT doen.</p>
<p style="font-size:20px;text-align:center">Momenteel heb ik nog geen idee of het iets zal zijn met programmeren of systeembeheer maar daar ik denk dat het wel duidelijk zal worden naarmate het jaar vordert. </p>
<p style="font-size:20px;text-align:center">Volgend jaar is de kans wel groot dat ik naar Karel De Grote hogeschool ga gaan. Hier kan je zowel programmeren als systeembeheer doen dus dit is perfect voor mij. </p>
<p style="font-size:20px;text-align:center">Ik hoop dat u nu mijn site wat beter begrijpt en wens u alvast veel leesplezier verder.</p>

<p style="font-size:20px;text-align:center"> Si vous avez des questions sur Android, cliquez <a href="http://wout-wynen.github.io/Questions/" style = "color:red">ICI</a>
<p style="font-size:20px;text-align:center"> Vous trouvez un reportage photo concernant le stage <a href="http://wout-wynen.github.io/ReportagePhoto/" style = "color:red"> VOICI </a>




</div>
