  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
      {{.Site.Copyright}}
      <div class="right">Designed by <a class="grey-text text-lighten-4" href="https://github.com/wout-wynen">Wout Wynen</a></div>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="{{.Site.BaseURL}}/js/materialize.min.js"></script>
  <script src="{{.Site.BaseURL}}/js/init.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  {{with  .Site.Params.googleAnalyticsUserID }}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{.}}', 'auto');
    ga('send', 'pageview');
  </script>
  {{end}}

  </body>
</html>
