<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>{{ .Title }}</title>
  <link href="{{.Site.BaseURL}}/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{.Site.BaseURL}}/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/default.min.css">
  <style type="text/css">
  {{if .Site.Params.footerCover}}
    footer.page-footer{background-image: url({{.Site.BaseURL}}/{{.Site.Params.footerCover}});}
  {{else}}
    footer.page-footer{background-image: url({{.Site.BaseURL}}/images/3D-image.png);}
  {{end}}
  </style>
</head>
<body>
  <ul id="slide-out" class="side-nav">
    <li><a href="{{.Site.BaseURL}}"><i class="mdi-action-home left"></i>Home<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
    <li><a href="{{.Site.BaseURL}}/Autobiography/"><i class="mdi-action-perm-media left"></i>Autobiography<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
    <li><a href="{{.Site.BaseURL}}/CaseStudy/"><i class="mdi-action-perm-media left"></i>CaseStudy<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
    <li><a href="{{.Site.BaseURL}}/DatabaseUseCase/"><i class="mdi-action-perm-media left"></i>DatabaseApp<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
    <li><a href="{{.Site.BaseURL}}/Questions/"><i class="mdi-action-perm-media left"></i>FAQ frans<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
    <li><a href="{{.Site.BaseURL}}/Huisstijl/"><i class="mdi-action-perm-media left"></i>Huisstijl<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
    <li><a href="{{.Site.BaseURL}}/IT-tapa/"><i class="mdi-action-perm-media left"></i>IT-tapa sessies<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
    <li><a href="{{.Site.BaseURL}}/IT-profile/"><i class="mdi-action-perm-media left"></i>IT-profile<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
    <li><a href="{{.Site.BaseURL}}/Instructionvideo/"><i class="mdi-action-perm-media left"></i>Instructionvideo<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
    <li><a href="{{.Site.BaseURL}}/ReportagePhoto/"><i class="mdi-action-perm-media left"></i>Reportage photo<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
      <li><a href="{{.Site.BaseURL}}/Review/"><i class="mdi-action-perm-media left"></i>Review<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
      <li><a href="{{.Site.BaseURL}}/Stageverslagen/"><i class="mdi-action-perm-media left"></i>Stageverslagen<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
      <li><a href="{{.Site.BaseURL}}/Testopstelling/"><i class="mdi-action-perm-media left"></i>Testopstelling<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
      <li><a href="{{.Site.BaseURL}}/VirussenGame/"><i class="mdi-action-perm-media left"></i>VirusGame<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>
    <li><a href="{{.Site.BaseURL}}/HugoVerschil/"><i class="mdi-action-perm-media left"></i>Workflows<i class="mdi-hardware-keyboard-arrow-right right"></i></a></li>



  </ul>
  <div id="index-banner" class="parallax-container">
  <a data-activates="slide-out" class="btn-floating button-collapse" style="top: 5px; left: 5px;"><i class="mdi-navigation-menu"></i></a>
    <div class="section no-pad-bot">
      <div class="container">
        <!-- <h1 class="header center teal-text text-lighten-2"><a href="{{.Site.BaseURL}}">{{.Site.Title}}</a></h1> -->
        <h1 class="header center teal-text text-lighten-2">{{.Site.Title}}</h1>
        <div class="row center">
          <h5 class="header col s12 light">{{.Site.Params.description}}</h5>
        </div>
        <div class="row center">
        {{if .Site.Params.github}}
          <a href="https://github.com/{{ .Site.Params.github }}"><img src="{{.Site.BaseURL}}/images/github2-dreamstale35.png"></a>
        {{end}}
        {{if .Site.Params.gitlab}}
          <a href="https://gitlab.com/{{ .Site.Params.gitlab }}"><img src="{{.Site.BaseURL}}/images/Gitlab.png"></a>
        {{end}}
        {{if .Site.Params.facebook}}
          <a href="https://www.facebook.com/{{.Site.Params.facebook}}"><img src="{{.Site.BaseURL}}/images/facebook-dreamstale25.png"></a>
        {{end}}
        {{if .Site.Params.twitter}}
          <a href="https://twitter.com/{{.Site.Params.twitter}}"><img src="{{.Site.BaseURL}}/images/twitter-dreamstale71.png"></a>
        {{end}}
        {{if .Site.Params.gplus}}
          <a href="https://google.com/+{{.Site.Params.gplus}}"><img src="{{.Site.BaseURL}}/images/gplus48x48.png"></a>
        {{end}}
        {{if .Site.Params.linkedin}}
          <a href="https://www.linkedin.com/in/{{.Site.Params.linkedin}}"><img src="{{.Site.BaseURL}}/images/linkedin-dreamstale45.png"></a>
        {{end}}

        </div>
      </div>
    </div>
    <div class="parallax">
    {{if .Site.Params.headerCover}}
      <img src="{{.Site.BaseURL}}/{{.Site.Params.headerCover}}">
    {{else}}
      <img src="{{.Site.BaseURL}}/images/3D-image.png">
    {{end}}
    </div>
  </div>
