<div class="row">
  <div class="col s3 m1">
  {{if .HasPrev}}
    <a class="btn-floating btn-large waves-effect waves-light" href="{{ .Prev.URL }}"><i class="mdi-navigation-arrow-back"></i></a>
  {{else}}
    <a class="btn-floating btn-large enabled"><i class="mdi-navigation-arrow-back"></i></a>
  {{end}}
  </div>
  <div class="col s6 m10 center">&nbsp</div>
  <div class="col s3 m1">
  {{if .HasNext}}
    <a class="btn-floating btn-large waves-effect waves-light" href="{{ .Next.URL }}"><i class="mdi-navigation-arrow-forward"></i></a>
  {{else}}
    <a class="btn-floating btn-large enabled"><i class="mdi-navigation-arrow-forward"></i></a>
  {{end}}
  </div>
</div>
